<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.cherish.userservice.mapper.FriendBlockedMapper">
    <insert id="addToBlockedList">
        insert into t_user_user_block(user1_id, user2_id)
        values(#{id}, #{blockedId});
    </insert>
    <delete id="deleteFromBlockedList">
        delete from t_user_user_block
        where user1_id = #{id} and user2_id = #{blockedId};
    </delete>


    <select id="getBlockedList" resultType="pers.cherish.userservice.model.UserVo">
        select id, profile, user_name, signature, gender, current_address
        from t_user_user_block t1, t_user t2
        where user1_id = #{id} and t1.user2_id = t2.id;
    </select>
    <select id="getBlockedPage" resultType="pers.cherish.userservice.model.UserVo">
        select id, profile, user_name, signature, gender, current_address
        from t_user_user_block t1, t_user t2
        where user1_id = #{id} and t1.user2_id = t2.id
        order by t2.id
        limit #{startIndex}, #{endIndex};
    </select>
    <select id="getBlockedIdListForCache" resultType="java.lang.Long">
        select user2_id
        from t_user_user_block
        where user1_id = #{id};
    </select>

    <select id="isBlockedFriend" resultType="java.lang.Boolean">
        select exists(
            select *
            from t_user_user_block
            where user1_id = #{id} and user2_id = #{otherId}
        );
    </select>
</mapper>