<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.cherish.userservice.mapper.ProfileMapper">

    <update id="updateProfileHistorical">
        update t_profile
        set register_time = current_timestamp
        where id = #{profileId} and owner_id = #{id};
        update t_user
        set profile = #{profileId}
        where id = #{id};
    </update>
</mapper>