<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.cherish.userservice.mapper.UserMapper">


    <update id="updateIsDeletedById">
        update t_user
        set is_deleted = 1
        where id = #{id}
    </update>
    <update id="updateFiledById">
        update t_user
        set ${filed}
            = #{value}
        where id = #{id}
    </update>
    <select id="selectUserPage" resultType="pers.cherish.userservice.model.UserVo">
        select id, profile, user_name, signature, gender, current_address, is_deleted from t_user
        where user_name like concat('%', #{value} ,'%')  or id = #{value} or phone_number = #{value}
        limit #{startIndex}, #{endIndex}
    </select>
    <select id="selectAllUserVo" resultType="pers.cherish.userservice.model.UserVo">
        select id, profile, user_name, signature, gender, current_address, is_deleted
        from t_user;
    </select>
    <select id="getUserProfileRange" resultType="pers.cherish.userservice.model.UserVo">
        select id, profile, user_name, signature, gender, current_address, is_deleted from t_user
        where id in
        <foreach collection="userIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>